* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-image: url("https://img.freepik.com/free-vector/white-background-with-zigzag-pattern-design_1017-33197.jpg?w=2000");
  background-size: cover; }

p {
  display: inline-block;
  color: #545454;
  padding: 5px 5px;
  font-family: 'Montserrat', sans-serif;
  margin: 2rem 3rem; }

h1 {
  color: #ffe19a;
  text-shadow: 4px 4px 8px #000000; }

h2 {
  color: #ffe19a;
  text-shadow: 2px 2px 4px #000000;
  text-align: center; }

.glowing-text {
  Font-size: 50px;
  Color: #f0f0f0;
  Text-align: center;
  Animation: glow 0.45s ease-in-out infinite alternate; }

@keyframes glow {
  From {
    Text-shadow: 1px 2px 3px #ffe19a, 3px 2px 1px #545454 2px 3px 5px pink, 4px 4px 3px brown; }
  To {
    text-shadow: 1px 0px 4px #007a0844, 2px 2px 4px #006527, 2px 4px 2px #f2f9ac, 1px 3px 1px #c7c7c7; } }

header {
  display: inline;
  position: sticky;
  top: 25px;
  z-index: 1000; }

#maintitle {
  font-size: 50px;
  border-radius: 5px;
  margin: 0px 5px 0px 5px; }

#subtitles {
  font-size: 25px;
  border-radius: 5px; }

.listas {
  list-style-type: none;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  font-family: 'Montserrat', Helvetica, sans-serif;
  text-align: center;
  line-height: 2; }

.titulos {
  list-style-type: none;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  font-family: 'Montserrat', Helvetica, sans-serif;
  text-align: center;
  line-height: 2; }

.subtitulos {
  list-style-type: none;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  font-family: 'Montserrat', Helvetica, sans-serif;
  text-align: center;
  line-height: 2; }

#card {
  margin: 3rem; }

#textoAbout {
  margin-top: 3rem;
  margin-bottom: 10rem; }

a {
  text-decoration: none; }

li {
  display: inline; }

label {
  display: block; }

fieldset {
  display: inline; }

.parrafoIndex {
  text-align: center;
  font-size: 20px;
  grid-area: texto; }

.parrafoAbout {
  text-align: center;
  font-size: 15px; }

footer {
  display: block;
  text-align: center; }

section {
  display: block;
  justify-content: center;
  align-items: center; }

form {
  margin-top: 4rem;
  height: 60rem; }

.contactoBg {
  background-color: #ECECEC; }

.card:hover {
  height: 39px;
  top: -4px;
  display: table-cell;
  vertical-align: middle;
  text-align: center; }
