
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}


body{
    background-image: url("https://img.freepik.com/free-vector/white-background-with-zigzag-pattern-design_1017-33197.jpg?w=2000");
    background-size: adjust;
}


p{
    display: inline-block;
    color: #545454;
    padding: 1rem 1.5rem;
    font-family: 'Montserrat', sans-serif;
    margin: 2rem 3rem;
    text-align: center;
    text-shadow: 4px 4px 8px #7f7f7f;  
}

h1{
    color: #ffe19a;
    text-shadow: 4px 4px 8px #000000;
}

h2{
    color: #ffe19a;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
}

h5 {
    text-align: center;
    font-size: medium;
}


header{
    display: inline;
    position: sticky;
    top: 25px;
    z-index: 1000;
}

#maintitle{
    font-size: 50px;
    border-radius:  5px;
    margin: 0px 5px 0px 5px;
}

#subtitles{
    font-size: 25px;
    border-radius:  5px;    
}


.listas{
    list-style-type: none;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    font-family: 'Montserrat', Helvetica, sans-serif;
    text-align: center;
    line-height: 2;
}



.titulos{
    list-style-type: none;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Montserrat', Helvetica, sans-serif;
    text-align: center;
    line-height: 2;
}

.subtitulos{
    list-style-type: none;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Montserrat', Helvetica, sans-serif;
    text-align: center;
    line-height: 2;
}

#card{
    font-size: medium;
    width: 25rem;
    margin: 1rem;
}

#textoAbout{
    margin-top: 3rem;
    margin-bottom: 10rem;
}


a{
    text-decoration: none;
}

li{
    display: inline;
}

label{
    display: block;
}

fieldset{
    display: inline;
    margin-bottom: 8rem;
}

label, input, fieldset, section {
    font-size: 12px;
}

.parrafoIndex{
    text-align: center;
    font-size: 20px;
    grid-area: texto;
}

.parrafoAbout{
    text-align: center;
    font-size: 15px;
}

footer{
    display: block;
    text-align: center;
}

section{
    display: block;
    justify-content: center;
    align-items: center;
}

form{
    margin-top: 8rem;
}

legend{
    margin-top: 8rem;
}

.card:hover{
    height: 39px;
    top: -4px;
}


@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

h1, h2 {
    background: 50% 100% / 50% 50% no-repeat
                radial-gradient(ellipse at bottom, #fff, transparent, transparent);

    color: transparent;
    animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;

    @keyframes reveal {
        80%{
        letter-spacing: 8px;
        }
        100% {
        background-size: 300% 300%;
        }
    }
    @keyframes glow {
        40% {
        text-shadow: 0 0 8px #fff;
        }
    }
} 