/* h1{
    color: #ffd369;
}

body{
    
@media only screen and (max-width: 600px) {
    body {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
}
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.grid {
    display: grid;
    grid-template-areas:
    "header"
    "nav"
    "titulos"
    "subtitulos"
    "texto"
    "imagen1"
    "imagen2"
    "imagen3";
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.header{
    grid-area: header;
}

.nav{
    grid-area: nav;
}


body{
    background-color: #FAFAFA;
}

nav{
    background-color: #ECECEC;
    display: inline-block;
    border-radius:  10px;
    padding: 5px 2px;
}


p{
    background-color: #ECECEC;
    display: inline-block;
    color: #545454;
    padding: 5px 2px;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 50px;
}

h1{
    color: #ffd369;
    background-color: #ECECEC;
    text-shadow: 4px 4px 8px #000000;
    margin: 20px 50px;
}

h2{
    color: #ffd369;
    background-color: #ECECEC;
    text-shadow: 2px 2px 4px #000000;
    margin: 10px 50px;
    text-align: center;
}


header{
    display: inline;
    position: sticky;
    top: 25px;
    z-index: 1000;
}

#maintitle{
    font-size: 50px;
    border-radius:  5px;
    margin: 0px 5px 0px 5px;
}

#subtitles{
    font-size: 25px;
    border-radius:  5px
}


.listas{
    list-style-type: none;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    font-family: 'Montserrat', Helvetica, sans-serif;
    text-align: center;
    line-height: 2;
}

.titulos{
    list-style-type: none;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Montserrat', Helvetica, sans-serif;
    text-align: center;
    line-height: 2;
    grid-area: titulos;
}

.subtitulos{
    list-style-type: none;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Montserrat', Helvetica, sans-serif;
    text-align: center;
    line-height: 2;
    grid-area: subtitulos;
}

.div1 {
    padding: 200px;
    margin: 50px;
    background-color: #ffd369;
    border-radius:  5px;
    grid-area: imagen1;
}

.div2 {
    padding:200px;
    margin: 50px;
    background-color: #ffd369;
    border-radius:  5px;
    grid-area: imagen2;
}

.div3 {
    padding:200px;
    margin: 50px;
    background-color: #ffd369;
    border-radius:  5px;
    grid-area: imagen3;
}

.div4 {
    padding:100px;
    margin: 20px;
    background-color: #ffd369;
    border-radius:  5px;
    grid-area: imagen4;
}


a{
    text-decoration: none;
}

li{
    display: inline;
}

label{
    display: block;
}

fieldset{
    display: inline;
}

.parrafoIndex{
    text-align: center;
    font-size: 20px;
    grid-area: texto;
}

.parrafoAbout{
    text-align: center;
    font-size: 15px;
}

footer{
    display: block;
    text-align: center;
}

section{
    display: block;
    justify-content: center;
    align-items: center;
}

form{
    position: relative;
    left: 500px;
    height: 750px;
}

.contactoBg{
    background-color: #ECECEC
}

